 <!--<header>
         <nav class="top-nav" ng-controller="loginCtrl">
         <ul class="nav nav-pills float-right">
      <li class="nav-item">
              <a class="nav-link" href="/"><i class="fa fa-globe fa-2x" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item" ng-show="message==undefined">
              <a class="nav-link" href="/signin-up">SignIn/SignUp</a>
            </li>
            <li class="nav-item dropdown" ng-show="message!=undefined">
              <a class="nav-link dropdown-toggle top-nav-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{message}}</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item top-nav-user" ng-click="logout();">Logout</a></li>
              </ul>
            </li>
            <li class="nav-item" ng-show="message==undefined">
              <a class="nav-link" data-toggle="modal" data-target="#write_need_modal" href=""><i class="fa fa-pencil" aria-hidden="true"></i> &nbsp;Write <br><span style="font-size:14px;">Your Need</span></a>
            </li>
            <li class="nav-item" ng-show="message!=undefined">
              <a class="nav-link" href="/write-need"><i class="fa fa-pencil" aria-hidden="true"></i> &nbsp;Write <br><span style="font-size:14px;">Your Need</span></a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted"><img src="/images/PP_icon.gif" width="20%"></h3>
      </header> --> 

      
      <!--    Write Your Need Modal Start           -->

      <div class="modal fade" id="write_need_modal" tabindex="-1" role="dialog" aria-labelledby="write_need_modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="write_need_modal">Alert</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Please Login To Write Your Need</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    <!--    Write Your Need Modal End          -->
      
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark top-nav" ng-controller="loginCtrl">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">ForU</a>
     
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
          <li class="nav-item active">
            <a class="nav-link" href="#!/under-construction">Save <i class="fa fa-child" aria-hidden="true"></i> Life <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!/startups">StartUp's</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!/under-construction">Jobs</a>
          </li>
        </ul>

        <ul class="nav nav-pills float-right">
          <li class="nav-item">
                  <a class="nav-link" href="/"><i class="fa fa-globe fa-2x" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item" ng-show="message==undefined">
                  <a class="nav-link" href="#!/signin-up">SignIn/SignUp</a>
                </li>
                <li class="nav-item dropdown user-nav" ng-show="message!=undefined">
                  <a class="nav-link dropdown-toggle top-nav-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{message}}</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item top-nav-user" ng-click="logout();">Logout</a></li>
                  </ul>
                </li>
                <li class="nav-item" ng-show="message==undefined">
                  <a class="nav-link" data-toggle="modal" data-target="#write_need_modal" href=""><i class="fa fa-pencil" aria-hidden="true"></i> &nbsp;Write <br><span style="font-size:14px;">Your Need</span></a>
                </li>
                <li class="nav-item" ng-show="message!=undefined">
                  <a class="nav-link" href="#!/write-need"><i class="fa fa-pencil" aria-hidden="true"></i> &nbsp;Write <br><span style="font-size:14px;">Your Need</span></a>
                </li>
              </ul>
      </div>
    </nav>