
<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PP_Node</title>

    <!-- Custom styles for this template -->
    <link href="../styles/starter-template.css" rel="stylesheet">
	<link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="../node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link rel="shortcut icon" href="/images/god.ico" />
	

 </head>

  <body>

    

    

		<ng-view></ng-view>
		
		<footer class="footer">
			<p>&copy; Copyright 2018</p>
		 </footer>
    <!-- /.container -->
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   <!-- <script src="../js/jquery-3.2.1.js"></script>-->
	
	<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>-->
       <!--<script src="../js/Popper.js"></script>-->
    <!--<script src="../js/bootstrap.min.js"></script>-->
   
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-cookies/angular-cookies.js"></script>
	<script src="../node_modules/angular-route/angular-route.js"></script>
	<script src="../node_modules/jquery/dist/jquery.min.js"></script>
 	<script src="../node_modules/tether/dist/js/tether.min.js"></script>
	<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../controllers/controller.js"></script>
	<script src="../controllers/router.js"></script>
	<script src="../controllers/services.js"></script>
	<script>
		
		$('#myTab a').click(function (e) {
		  e.preventDefault()
		  $(this).tab('show')
		})
	</script>
  </body>
</html>
